html {
    font-family: sans-serif;
}

body {
    background: url(https://upload.wikimedia.org/wikipedia/commons/thumb/8/87/Fishers_peak.jpg/1200px-Fishers_peak.jpg) no-repeat top;
    background-color: #ccccb3
}

h1 {
    font-weight: 900;
    color: #000000;
    text-align: center;
    font-family: sans-serif;
    font-size: 50px;
}

nav ul{
    text-align: center;
    padding: 0;
}

nav ul li{
    font-weight: 600;
    font-size: 30px;
    padding: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #000000;
}

#first {
    margin-top: 300px;
}

section {
    text-align: center;
    margin-top: 150px;
}

main img {
    border: 2px solid #5B1B00;
}

figcaption a {
    text-decoration: none;
}

main section p {
    font-weight: 600;
    font-size: 20px;
    margin: 0px 100px;
}

#topbutton {
    text-align: center;
    margin-top: 100px;
}

#topbutton button {
    border-radius: 10px;
    background-color: #6699cc;
}

#topbutton a {
    text-decoration: none;
    padding-left: 50px;
    padding-right: 50px;
    font-size: 20px;
    color: #000000;
}

footer {
    margin-top: 200px;
}

#footer {
    font-family: serif;
    font-style: italic;
}

p.footer {
    font-family: serif;
}
